<a class="nav-link mb-3" href="#"><i class="fas fa-home"></i> Home</a>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h4>Employee Salary Slip</h4>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Admin</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

</div>
<section class="container">
    <div class="card" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
        <div class="card-body">
            {{#each data}}
            {{!-- <form action="/employee/salary-slip-data/{{this._id}}" method="POST"> --}}
            <form id="salarySlipForm">
                <div class="row" style="margin:10px;padding:10px">  

                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Name</label>
                        <input type="text" name="name" value="{{this.firstname}} {{this.lastname}}" class="form-control"
                            id="">
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Employee Id</label>
                        <input type="text" name="employeeid" value="{{this.employeeid}}" class="form-control" id="">
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Date Of Joining</label>
                        <input type="text" name="dateOfJoining" value="{{this.dateofjoin}}" class="form-control" id="">
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Grade</label>
                        <input type="text" name="grade" value="{{this.department}}" class="form-control" id="">
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Location</label>
                        <input type="text" name="location" value="{{this.city}} , {{this.place}}" class="form-control"
                            id="">
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Basic Salary</label>
                        <input type="number" name="basicSalary" value="{{this.basicsalary}}" class="form-control" id="">
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Conveyance Allowance</label>
                        <input type="number" name="convayanceAllowance" class="form-control" id="" required>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Leave Travel Allowance</label>
                        <input type="number" name="leaveTravelAllowance" class="form-control" id="" required>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">House Rent Allowance</label>
                        <input type="number" name="houseRentAllowance" class="form-control" id="" required>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Additional HRA</label>
                        <input type="number" name="additionalhra" class="form-control" id="" required>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Medical Allowance</label>
                        <input type="number" name="medicalAllowance" class="form-control" id="" required>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Transport Allowance</label>
                        <input type="number" name="transportAllowance" class="form-control" id="" required>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Super Annuation Allowance</label>
                        <input type="number" name="superAnnuationAllowance" class="form-control" id="" required>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Lunch Allowance</label>
                        <input type="number" name="lunchAllowance" class="form-control" id="" required>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Project Allowance</label>
                        <input type="number" name="projectAllowance" class="form-control" id="" required>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Provident Fund</label>
                        <input type="number" name="providentFund" class="form-control" id="" required>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Overtime Allowance</label>
                        <input type="number" name="overtimeAllowance" class="form-control" id="" required>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label for="" class="my-2">Entertainment Allowance</label>
                        <input type="number" name="entertainmentAllowance" class="form-control" id="" required>
                    </div>
                    <div class="col-sm-4 my-2">
                        <button class="btn btn-success" onclick="salarySlipForm('{{this._id}}')">Save</button>
                    </div>

                </div>
            </form>
            {{/each}}
        </div>
    </div>

</section>



<section>
    <div class="modal fade" id="modalform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" id="message">
                    <p>{{response}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalSlipClose">Close</button>
                    {{!-- <button type="button" onclick="modifyDepartment()" class="btn btn-primary">Save changes</button> --}}
                </div>

            </div>
        </div>
    </div>
</section>