<a class="nav-link mb-3" href="#"><i class="fas fa-home"></i> Home</a>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h4>Employee Salary Slip</h4>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Admin</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

</div>
<section class="container">
    <div class="card p-4" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
        {{#if message}}
        <p>{{message}}</p>
        {{/if}}
        <table class="table">
            <thead class="table-light">
                <tr>
                    {{!-- <th scope="col">#</th> --}}
                    <th style="padding: 15px;" scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Employee Id</th>
                    <th scope="col">Designation</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    {{!-- <th scope="col">Attendance Status</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th> --}}
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    {{!-- <th scope="row">1</th> --}}
                    <td style="padding: 20px;">{{this.index}}</td>
                    <td>{{this.firstname}} {{this.lastname}}</td>
                    <td>{{this.employeeid}}</td>
                    <td>{{this.designation}}</td>
                    {{!-- <td>{{this.attendanceStatus}}</td>
                    <td>{{this.startTime}}</td>
                    <td>{{this.endTime}}</td> --}}
                    <td><a href="/employee/create-salary-slip/{{this._id}}" class="btn btn-success">Create</a></td>
                    <td><a href="/employee/view-salary-slip/{{this._id}}" class="btn btn-success">View</a></td>
                    {{!-- <td><a href="/employee/generate-salary-slip/{{this._id}}" class="btn btn-success">Generate</a></td> --}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{!-- <div class="row">   
        
    </div> --}}

</section>