<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Employee Experiences</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Employee experiences</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form enctype="multipart/form-data" id="experienceForm"
                            action="/employee/employee-details/{{empId}}/create-experience" method="post">
                            <div class="form-group">
                                <label for="textPost">Post</label>
                                <input type="text" name="exppost" id="textPost" class="form-control" placeholder="Post">
                            </div>
                            <div class="form-group">
                                <label for="textInstitution">Company name</label>
                                <input type="text" name="expcompany" id="textCompany" class="form-control"
                                    placeholder="Company name">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="dateExperienceFrom">From</label>
                                        <input class="form-control" type="date" name="expfrom" id="dateEducationFrom">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="dateExperienceTo">To</label>
                                        <input class="form-control" type="date" name="expto" id="dateExperienceTo">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textExpDesc">Description</label>
                                <textarea class="form-control" name="expdescription" id="textExpDesc"
                                    rows="4"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="fileExperience">Document</label>
                                <input type="file" class="form-control" name="expdocument" id="ileExperience">
                            </div>
                            <div class="form-group d-flex justify-content-end">
                                <input type="submit" value="Submit" class="btn btn-primary" id="btnSubmitExperience">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>Experiences</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tableEducation" class="table">
                            <thead>
                                <tr>
                                    <th>Sl.No.</th>
                                    <th>Post</th>
                                    <th>Company Name</th>
                                    <th>Period</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each experiences}}
                                <tr>
                                    {{#with this}}
                                    <td>{{serial}}</td>
                                    <td>{{exppost}}</td>
                                    <td>{{expcompany}}</td>
                                    <td>{{expfrom}} to <br> {{expto}}</td>
                                    <td>{{expdescription}}</td>
                                    {{/with}}
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>