<a class="nav-link mb-3" href="#"><i class="fas fa-home"></i> Home</a>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h4>Employee Status</h4>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Admin</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

</div>

<section class="container">
    <div class="card p-2" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
        <table class="table">
            <thead>
                <tr>
                    {{!-- <th scope="col">#</th> --}}
                    <th scope="col">Index</th>
                    <th scope="col">Employee Name</th>
                    
                    <th scope="col">Employee ID</th>
                    <th scope="col">Designation</th>
                    {{!-- <th scope="col">Leave To</th>
                    <th scope="col">Leave Status</th> --}}
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    {{!-- <th scope="row">1</th> --}}
                    <td>{{this.index}}</td>
                    <td>{{this.firstname}} {{this.lastname}}</td>
                    <td>{{this.employeeid}}</td>
                    <td>{{this.designation}}</td>
                    <td>{{this.to}}</td>
                    {{!-- <td>{{this.endTime}}</td> --}}

                    {{#if this.activestatus}}
                    <td><a href="/employee/enable-or-disable/{{this._id}}"  class="btn btn-warning" style="padding: 0px;margin:0px;width:100px">Disable</a></td>
                    {{else}}
                    <td><a href="/employee/enable-or-disable/{{this._id}}"  class="btn btn-success" style="padding: 0px;margin:0px;width:100px">Enable</a></td>
                    
                    {{/if}}
                    <td><a href="/employee/edit-employee/{{this._id}}" class="btn btn-secondary" style="padding: 0px;margin:0px;width:50px">Edit</a></td>
                    <td><a href="/employee/delete-employee/{{this._id}}" class="btn btn-secondary" style="padding: 0px;margin:0px;width:50px"><i class="far fa-trash-alt"></i></a></td>
                    
                    
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{!-- <div class="row">
        
    </div> --}}

</section>