<selction class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h4>New Holiday</h4>
                </div>
                <div class="card-body">
                    <form id="formHoliday" action="/attendance/new-holiday" method="POST">
                        <div class="form-group">
                            <label for="textHolidayName">Holiday Name</label>
                            <input type="text" name="holidayname" id="textHolidayName" placeholder="Holiday name"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="dateHoliday">Date</label>
                            <input type="date" name="holidaydate" id="dateHoliday" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Sl.No.</td>
                            <td>Date</td>
                            <td>Holiday</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each holidays}}
                        <tr>
                            <td>{{this.serial}}</td>
                            <td>{{this.holidaydate}}</td>
                            <td>{{this.holidayname}}</td>
                            <td>
                                <button onclick="getModify('{{this._id}}')"
                                    class="btn btn-sm btn-primary">Modify</button>
                                <button onclick="removeHoliday('{{this._id}}')"
                                    class="btn btn-sm btn-danger">Remove</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</selction>


<section>
    <!-- Modal -->
    <div class="modal fade" id="modalModifyHoliday" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modify Holidays</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formModifyHoliday" method="POST">

                    <div class="modal-body">
                        <span class="text-danger" id="textErrMsg"></span>
                        <div class="form-group">
                            <input type="hidden" name="_id" id="holiday">
                        </div>
                        <div class="form-group">
                            <label for="textModifyName">Holiday name</label>
                            <input type="text" name="holidayname" id="textModifyName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="textModifyDate">Date</label>
                            <input type="date" name="holidaydate" id="textModifyDate" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="modifyHoliday()" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>