<a class="nav-link mb-3" href="#"><i class="fas fa-home"></i> Home</a>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Employees</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Employees</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

</div>

<section class="container">
    <div class="card">



        <div class="card">
            <div class="card-header">
                <h3>Today's Attendance</h3>
            </div>
            <div class="card-body" id="cardBox">
                {{#if data.datas}}
                {{#each data.datas}}

                <p style="width: 300px;background-color: rgb(250, 78, 78);color:white;text-align:center;border-radius:5px">{{this.name}}'s attendance already entered</p>
                {{/each}}
                {{/if}}
                {{#each data}}
                <form action="/attendance/mark-employees-attendance/{{_id}}/{{this.todayDate}}" method="POST">
                    {{!-- <form id="attendanceData" method="POST"> --}}
                        <div class="row"
                            style="border: 2px solid rgb(211, 210, 210);border-radius: 10px;margin:10px;padding:10px">

                            {{!-- <div class="col-sm-3 my-2" hidden>

                                <input type="text" class="form-control" id="employeeid" value="{{this.employeeid}}">
                            </div> --}}
                            <div class="col-sm-3 my-2">
                                <label for="">Name</label>
                                <input type="text" class="form-control" name="name"
                                    value="{{this.firstname}} {{this.lastname}}">
                            </div>
                            <div class="col-sm-3 my-2">
                                <label for="">Date</label>
                                <input type="text" name="date" class="form-control" id="date"
                                    value="{{this.todayDate}}">
                            </div>
                            <div class="col-sm-3 my-2">
                                <label for="">Status</label>
                                <select class="form-select" name="attendanceStatus" id="attendanceStatus"
                                    onchange="attendance()" aria-label="Default select example">
                                    {{!-- <option selected>Open this select menu</option> --}}
                                    <option value="duty">duty</option>
                                    <option value="leave">leave</option>
                                </select>
                            </div>
                            <div class="col-sm-3 my-2" id="start">
                                <label for="">Start Time</label>
                                <input type="time" name="startTime" class="form-control">
                            </div>
                            <div class="col-sm-3 my-2" id="end">
                                <label for="">End Time</label>
                                <input type="time" name="endTime" class="form-control">
                            </div>
                            {{!-- <div class="col-sm-3">
                                <label for="">duty shift</label>
                                <input type="text" class="form-control">
                            </div> --}}

                            <div class="col-sm-3 my-4">
                                <button onclick="saveButton()" class="btn btn-primary" id="savebtn">Save</button>


                            </div>

                            {{!-- <div class="col-sm-3 my-4">
                                {{#each data.datas}}
                                {{#if this.active}}
                                
                                <hi>{{this.name}} success</hi>
                                
                                <a href="" class="btn btn-success">{{this.name}}attendance marked</a>
                               
                                {{/if}}
                                {{/each}}
                            </div> --}}



                        </div>

                        {{!-- <div class="row">


                        </div> --}}
                    </form>
                {{/each}}



            </div>
        </div>






        {{!-- <div class="card-body">
            <div class="row d-flex justify-content-end">
                <a class="btn btn-primary rounded-pill w-25" href="/employee/create-employee-profile/">New</a>
            </div>

            <div class="row">

                <form action="/" method="POST">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="id" value="{{this.employeeid}}">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="id" value="{{this.firstname}} {{this.lastname}}">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="id" value="{{this.todayDate}}">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="id" value="{{this.employeeid}}">
                    </div>
                </form>


            </div>


        </div> --}}
    </div>
</section>