<div class="container">
    <div class="card" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
        <div class="card-body">

            <div class="row my-4">
                <h4>Employee Name   :   {{data.employeeFirstName}} {{data.employeeLastName}}</h4>
                <h5>Email   :   {{data.email}}</h5>
                {{#each data.attendance}}
                <h5>Total duties on current month   :   {{this.attendance}}</h5>
                {{/each}}
            </div>

            
        </div>
        
    </div>
    <div class="row">
                <div class="col" id="monthWiseAttendance">
                    <a href="/attendance/getMonthwiseAttendance?id={{data.employeeId}}&month=1"
                        style="padding:8px;background-color: rgb(16, 32, 102);color:white;border-radius: 15px;">January</a>
                    <a href="/attendance/getMonthwiseAttendance?id={{data.employeeId}}&month=2"
                        style="padding:8px;background-color: rgb(16, 32, 102);color:white;border-radius: 15px;">February</a>
                    <a href="/attendance/getMonthwiseAttendance?id={{data.employeeId}}&month=3"
                        style="padding:8px;background-color: rgb(16, 32, 102);color:white;border-radius: 15px;">March</a>
                    <a href="/attendance/getMonthwiseAttendance?id={{data.employeeId}}&month=4"
                        style="padding:8px;background-color: rgb(16, 32, 102);color:white;border-radius: 15px;">April</a>
                    <a href="/attendance/getMonthwiseAttendance?id={{data.employeeId}}&month=5"
                        style="padding:8px;background-color: rgb(16, 32, 102);color:white;border-radius: 15px;">May</a>
                    <a href="/attendance/getMonthwiseAttendance?id={{data.employeeId}}&month=6"
                        style="padding:8px;background-color: rgb(16, 32, 102);color:white;border-radius: 15px;">June</a>
                    <a href="/attendance/getMonthwiseAttendance?id={{data.employeeId}}&month=7"
                        style="padding:8px;background-color: rgb(16, 32, 102);color:white;border-radius: 15px;">July</a>
                    <a href="/attendance/getMonthwiseAttendance?id={{data.employeeId}}&month=8"
                        style="padding:8px;background-color: rgb(16, 32, 102);color:white;border-radius: 15px;">August</a>
                    <a href="/attendance/getMonthwiseAttendance?id={{data.employeeId}}&month=9"
                        style="padding:8px;background-color: rgb(16, 32, 102);color:white;border-radius: 15px;">September</a>
                    <a href="/attendance/getMonthwiseAttendance?id={{data.employeeId}}&month=10"
                        style="padding:8px;background-color: rgb(16, 32, 102);color:white;border-radius: 15px;">October</a>
                    <a href="/attendance/getMonthwiseAttendance?id={{data.employeeId}}&month=11"
                        style="padding:8px;background-color: rgb(16, 32, 102);color:white;border-radius: 15px;">November</a>
                    <a href="/attendance/getMonthwiseAttendance?id={{data.employeeId}}&month=12"
                        style="padding:8px;background-color: rgb(16, 32, 102);color:white;border-radius: 15px;">December</a>
                </div>

            </div>

            <div class="row my-4">
                {{#each data.monthAttendance}}
                <h4>Total number of duty on selected month : {{this.month}}</h4>
                {{/each }}
            </div>

    <div class="card p-4" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;"    >
        <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        {{!-- <th scope="col">#</th> --}}
                        <th style="padding:20px" scope="col">Index</th>
                        <th style="padding:20px" scope="col">Date</th>
                        <th style="padding:20px" scope="col">Attendance Status</th>
                        <th style="padding:20px" scope="col">Start Time</th>
                        <th style="padding:20px" scope="col">End Time</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data.attendanceData}}
                    <tr>
                        {{!-- <th scope="row">1</th> --}}
                        <td style="padding:20px">{{this.index}}</td>
                        <td style="padding:20px">{{this.date}}</td>
                        <td style="padding:20px">{{this.attendanceStatus}}</td>
                        <td style="padding:20px">{{this.startTime}}</td>
                        <td style="padding:20px">{{this.endTime}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
    </div>
    {{!-- <div class="row">
            
        </div> --}}
</div>