<a class="nav-link mb-3" href="#"><i class="fas fa-home"></i> Home</a>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h4>Leave Status</h4>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Admin</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

</div>

<section class="container">
    <div class="card p-4" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
        <table class="table table-hover ">
            <thead class="table-light">
                <tr>
                    {{!-- <th scope="col">#</th> --}}
                    <th style="padding: 15px;" scope="col">Index</th>
                    <th scope="col">Name</th>
                    
                    <th scope="col">Leave Reason</th>
                    <th scope="col">Leave From</th>
                    <th scope="col">Leave To</th>
                    <th scope="col">Leave Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    {{!-- <th scope="row">1</th> --}}
                    <td style="padding: 20px;">{{this.index}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.leavetype}}</td>
                    <td>{{this.from}}</td>
                    <td>{{this.to}}</td>
                    {{!-- <td>{{this.endTime}}</td> --}}
                    {{#if this.status }}
                    <td><a class="btn btn-warning" style="padding: 0px;margin:0px;width:100px">Pending</a></td>
                    {{else}}{{#if this.approvalStatus }}
                    <td><a class="btn btn-success" style="padding: 0px;margin:0px;width:100px">Approved</a></td>
                    {{else}}
                    <td><a class="btn btn-danger" style="padding: 0px;margin:0px;width:100px">Rejected</a></td>
                    {{/if}}
                    {{/if}}
                    
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{!-- <div class="row">
        
    </div> --}}

</section>